# Ignore appsettings.Development.json (API keys)
appsettings.Development.json

# Ignore compiled binaries
bin/
obj/

# Ignore user-specific files
*.user
*.suo
.vscode/
.idea/
*.db

# Ignore logs
logs/
*.log

# Ignore dependency caches
node_modules/
wwwroot/lib/

#Ignore API KEYS
*.env